<div class="instacard bg-white" id="post-<%= post.id %>">
  <div class="instacard-header">
    <span class="instacard-actions">···</span>
    <!-- user avatar will go here -->
    <div><%= image_tag "", class: "instacard-profile-image" %></div>
    <span class="instacard-profile-name"><%= post.user.username %></span>
  </div>
  <div class="instacard-body p-4 bg-white"><%= post.body %></div>
  <div class="border"><%= image_tag post.file, class: "instacard-image" %></div>
</div>
